.articleContainer {
    gap: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    padding: 0px;

    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 1200px) {
    .articleContainer {
        max-width: none;
        width: fit-content;
        flex: 1 0 33%; 
    }
}

.row {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.popUpBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3;

    display: flex;
    align-items: center;
    justify-content: center;
}

.popUpBox {
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}