.container {
    width: 300px;
    text-align: left;
    font-size: 20px;
    position: fixed;
}

.item {
    cursor: pointer;
    margin-top: 5px;
    list-style: none;
    font-size: 22px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: all 100ms;
    padding-left: 10px;
}

.item:hover {
    background-color: rgb(240, 240, 240);
    filter: var(--elevation-1);
}

.item:active {
    background-color: rgb(235, 235, 235);
    filter: none;
}

@media only screen and (max-width: 1600px) {
    .container {
        z-index: 1;
        background-color: white;
        width: 100%;
        top: 0;
        left: 0;
        padding-bottom: 50px;
        padding-top: 20px;
        margin-top: 0px;
        filter: var(--elevation-2)
    }
}

@media only screen and (max-width: 420px) {
    .container {
        padding-top: 80px;
    }
}

.checkout {
    margin-top: 20px;
}