.container {
    border: none;
    border-radius: 20px;
    cursor: pointer;
    background-color: var(--orange);
    transition: all 100ms;
    color: black;
}

.container:hover {
    background-color: var(--orange-hover);
    filter: var(--elevation-1);
}

.container:active {
    background-color: var(--orange-press);
    filter: none;
}

.disabled {
    background-color: rgba(150, 150, 150, 0.5);
    color: rgba(255, 255, 255, 0.9);
    cursor:default;
}

.disabled:hover {
    background-color: rgba(150, 150, 150, 0.5);
    color: rgba(255, 255, 255, 0.9);
    filter: none;
}

.disabled:active {
    background-color: rgba(150, 150, 150, 0.5);
    color: rgba(255, 255, 255, 0.9);
    filter: none;
}

.mediumButton {
    font-size: 14px;
    padding-left: 24px;
    padding-right: 24px;
    height: 40px;
}

.smallButton {
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
}

.fullWidthModifier {
    width: 100%;
}