.container {
    border: 1px solid var(--darkgray);
    border-radius: 20px;
    height: 40px;

    font-size: 14px;
    cursor: pointer;
    transition: all 100ms;
    line-height: 40px;
    
    display: flex;
    flex-direction: row;

    color: black;
}

.button:not(:last-child) {
    border-right: 1px solid var(--darkgray);
}

.button:first-child {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.button:last-child {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.button {
    flex: 1 1 0px;
    transition: all 100ms;
    border: 0;
    background-color: white;
    cursor: pointer;
}

.button:hover {
    background-color: var(--gray);
}

.buttonActive {
    background-color: var(--orange-light);
}

.fullWidthModifier {
    width: auto;
}