@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  font-family: 'Poppins', sans-serif;
  --orange: #ffb04a;
  --orange-hover: hsl(34, 100%, 56%);
  --orange-press: hsl(34, 100%, 52%);
  --orange-light: hsl(34, 100%, 90%);

  --gray: #efefef;
  --darkgray: #323232;

  --elevation-1: drop-shadow(0px 1px 1px lightgray);
  --elevation-2: drop-shadow(0px 3px 3px lightgray);

}

h1, h2, h3 {
  font-weight: 400;
  margin: 0;
}

h1 {
  margin-top: 50px;
}